<!DOCTYPE html>
<html>
  <head>
    <title>Emaillot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <link rel="shortcut icon" type="images/png" href="emaillot*.png"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <h1 class="display-1 p-3 bg-secondary text-white rounded">Best Shop</h1>
        <div class="row">
          <div class="col-4" id="cart">

            <% if @cart && @cart.line_items.any? %>
            <%= render @cart %>
            <% else %>
              <h2>Panier vide</h2>
              <% end %>
            </div>
            <div class="col-8">
              <p id="alert"><%= alert %></p>
               <p id="notice"><%= notice %></p> 
        <%= yield %>
          </div>
        </div>
      </body>
    </html>
